<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="og:image" content="{{page.uel}}{{page.image}}" />


</head>
